%div{class: "alert alert-warning"}
  %i{class:"fas fa-lock"}
  - specimen_count = @viewed_user.all_occurrences_count
  - if specimen_count > 0
    = I18n.t('user.private_with_claims', specimen_count: number_with_delimiter(specimen_count))
  - else
    = I18n.t('user.private_no_claims')
