-content_for :title do
  Bloodhound: #{@organization.name}

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class: "container-fluid"}
      %h2 #{@organization.name}