-content_for :title do
  Bloodhound: Administration

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class: "container-fluid"}
      %h2 Administration

%div{class:"container citation-wrapper"}
  %div{class:"row"}
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"} Manage articles
        %div{class:"card-body"}
          %p{class:"card-text"} View a paginated and ordered list of latest references indexed by the GBIF. These include the number of specimens used in the study and the number of specimens claimed by users.
          %a{href:"/admin/articles", class:"btn btn-success"} Articles
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"} Manage users
        %div{class:"card-body"}
          %p{class:"card-text"} View a paginated and ordered list of users. These include when the user last logged in and their public status. Users can also be added using a valid ORCID account. 
          %a{href:"/admin/users", class:"btn btn-success"} Users
