-content_for :title do
  Administration

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %div{class: "container-fluid"}
      %h2 Administration

%div{class:"container citation-wrapper"}
  %div{class:"row"}
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"}
          %a{href:"/admin/users"} Accounts
        %div{class:"card-body"}
          %p{class:"card-text"} View a paginated and ordered list of accounts. This includes when last logged in, public status, and links to manage each account. Accounts can also be added using a valid ORCID or a wikidata identifier.
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"}
          %a{href:"/admin/articles"} Articles
        %div{class:"card-body"}
          %p{class:"card-text"} View a paginated and ordered list of latest references indexed by GBIF. This includes the number of specimens used in the study and the number of specimens claimed by users.
  %div{class:"row"}
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"}
          %a{href:"/admin/organizations"} Organizations
        %div{class:"card-body"}
          %p{class:"card-text"} View a paginated and ordered list of organizations from ORCID accounts. This includes their isni, ringgold, and grid identifiers.
    %div{class:"col-md"}
