-content_for :title do
  Administration

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid alert-warning"}
    %h2 Administration

%div{class:"container citation-wrapper ml-0"}
  %div{class:"row"}
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"}
          %a{href:"/admin/users"} Accounts
        %div{class:"card-body"}
          %p{class:"card-text"} View and search through a paginated and ordered list of accounts. This includes when last logged in, public status, and links to manage each account.
          %p
            %a{href:"/admin/users", role:"button", class:"btn btn-sm btn-outline-primary profile-refresh"} List
            %a{href:"/admin/users/manage", role:"button", class:"btn btn-sm btn-outline-success profile-refresh"} Add
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"}
          %a{href:"/admin/users/helped"} Helped Accounts
        %div{class:"card-body"}
          %p{class:"card-text"} View a paginated and ordered list of accounts whose specimens have been claimed by authenticated users.
  %div{class:"row"}
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"}
          %a{href:"/admin/organizations"} Organizations
        %div{class:"card-body"}
          %p{class:"card-text"} View a paginated and ordered list of organizations from ORCID accounts. This includes their isni, ringgold, GRID, and wikidata identifiers.
    %div{class:"col-md"}
      %div{class:"card"}
        %h5{class:"card-header"}
          %a{href:"/admin/articles"} Articles
        %div{class:"card-body"}
          %p{class:"card-text"} View a paginated and ordered list of latest references indexed by GBIF. This includes the number of specimens used in the study and the number of specimens claimed by users.
