%ul{class: "nav nav-tabs"}
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_tab] == "people" ? " active" : nil}", href: "/article/#{@article.doi}"} People
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_tab] == "agents" ? " active" : nil}", href: "/article/#{@article.doi}/agents"} Agent Strings
