%div{class:"jumbotron jumbotron-fluid"}
  %div{class:"container-fluid"}
    %h2{class:"display-4 text-center"}= @agent.fullname
    %p.lead.text-muted.text-center
      %em
        #{@agent.fullname}
      is a name as found in the specimen data below. Users enjoy a grouped view of likely records while claiming their specimens.