%div{class:"jumbotron jumbotron-fluid"}
  %div{class:"container-fluid"}
    %h1{class:"text-center h2"}= @agent.fullname
    %p.lead.text-muted.text-center
      %em
        #{@agent.fullname}
      is an unauthenticated and unverified agent name