%div.bulk-label Bulk Assignment
%div{class:"btn-group btn-group-toggle", "data-toggle":"buttons"}
  %label{class:"btn btn-choice btn-dark"}
    %input{type:"radio", name:"selection-all", class:"action-radio", "data-action": "recorded", autocomplete:"off"}
      %img{src:"/images/net.png", alt:"Collected All", title:"Collected All", width:18}
  %label{class:"btn  btn-choice btn-dark"}
    %input{type:"radio", name:"selection-all",  class:"action-radio", "data-action": "identified", autocomplete:"off"}
      %img{src:"/images/microscope.png", alt:"Identified All", title: "Identified All",width:18}
  %label{class:"btn  btn-choice btn-dark"}
    %input{type:"radio", name:"selection-all",  class:"action-radio", "data-action": "recorded,identified", autocomplete:"off"} Both