%div{class:"container-fluid"}
  - @countries.in_groups_of(10, false).each do |group|
    %ul{class:"list-inline"}
      - group.each do |country|
        %li{class:"list-inline-item"}
          %a{href: "/help-others/country/#{country[1]}", class:"btn btn-outline-success btn-sm mb-2"} #{country[0]}