%div{class:"col-xs-12 col-md-8 d-flex justify-content-end"}
  %form{id:"form-org-wrapper", method: "get", action: "/organizations/search", "accept-charset" => "UTF-8", class: "form-inline helpers"}
    %div{class: "form-group"}
      %input{class:"typeahead organization-search", id:"typeahead-organization", type: :text, name: "q", placeholder: "Canadian Museum of Nature", value: "#{params[:q]}", size:"25"}
    %input{type: :submit, class:"btn btn-success", value:"Search", style:"margin-left:0.25rem;margin-right:0.25rem;"}