%div{class: "btn-group", style:"margin-bottom:3px"}
  %button{class:"btn btn-light btn-sm dropdown-toggle", type:"button", "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false"} Per page
  %div{class:"dropdown-menu", "aria-labelledby":"dropdownMenuButton"}
    %a{href: "?page=#{@page}&per=25", class: "dropdown-item"} 25
    %a{href: "?page=#{@page}&per=100", class: "dropdown-item"} 100
    %a{href: "?page=#{@page}&per=250", class: "dropdown-item"} 250