%div{class: "alert alert-info tiny-margins", role: "alert"}
  Download discovered specimen records, work offline, then upload new claims as a csv. A file containing at most
  %span{class:"font-weight-bold"} #{number_with_delimiter(Settings.helping_download_limit)} records is generated.
  If you have many more than this, you may work in batches.
  %br
  This routine does not update underlying specimen data nor does it update existing claims. If existing claims are present in the upload, these will be skipped.

%div{class:"row"}
  %div{class:"col-sm-12 col-lg-10 col-xl-8"}
    %img{src: "/images/candidates-instructions.png", alt: "Instructions for offline claims", class:"rounded img-fluid"}