-content_for :title do
  Bloodhound::About

%h2 About

%p
  This proof-of-concept was produced by 
  %a{href: "https://orcid.org/0000-0001-7618-5230" } David P. Shorthouse 
  using specimen data from the 
  %a{href: "https://www.gbif.org"} Global Biodiversity Information Facility
  (GBIF) and OAuth2 pass-through authentication provided by 
  = succeed "." do
    %a{href: "https://orcid.org" } ORCID
  It was produced in August 2018 as a submission to the annual 
  = succeed "." do
    %a{href: "https://www.gbif.org/news/1GQURfK5jS4Iq4O06Y0EK4/2018-gbif-ebbe-nielsen-challenge-seeks-open-data-innovations-for-biodiversity"} Ebbe Nielsen Challenge

%p
  Specimens included in this project were collected 1970-2018 and have content in their recordedBy (collector) and identifiedBy Darwin Core fields. Collector and determiner names were pre-parsed and cleaned using the 
  %a{href: "https://rubygems.org/gems/namae" } Namae gem 
  among other custom regular expressions. They were also partially reconciled by pruning a graph weighted on a similarity score computed through a 
  %a{href: "https://en.wikipedia.org/wiki/Clique_(graph_theory)"} clique
  \-like heuristic. The scoring and reconciling algorithm makes use of co-collector networks and taxon similarity in an effort to help minimize the variability in how people names are stored and linked to specimen data. If you declared alternate names in your ORCID account (e.g. a maiden name), these are also used to search for specimen records, which are then presented to you in greatest to least likely collected or identified by you.
  The MIT-licensed code is available on 
  = succeed "." do
    %a{href: "https://github.com/dshorthouse/bloodhound" } GitHub