-content_for :title do
  Bloodhound: About

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid"}
    %div{class: "container-fluid"}
      %h2 About

%p
  This application is developed and maintained by 
  %a{href: "https://orcid.org/0000-0001-7618-5230" } David P. Shorthouse 
  using specimen data from the 
  %a{href: "https://www.gbif.org"} Global Biodiversity Information Facility
  (GBIF) and pass-through authentication provided by 
  = succeed "." do
    %a{href: "https://orcid.org" } ORCID
  It was launched in August 2018 as a submission to the annual 
  = succeed "." do
    %a{href: "https://www.gbif.org/news/1GQURfK5jS4Iq4O06Y0EK4/2018-gbif-ebbe-nielsen-challenge-seeks-open-data-innovations-for-biodiversity"} Ebbe Nielsen Challenge

%p
  The approximately 181M 
  %a{href: "https://doi.org/10.15468/dl.zhqgl6"} specimen records included
  in this project have content in their 
  %a{href: "http://rs.tdwg.org/dwc/terms/#recordedBy"} recordedBy 
  (collector) or 
  %a{href: "http://rs.tdwg.org/dwc/terms/#identifiedBy"} identifiedBy 
  Darwin Core fields. Data are re-generated and downloaded approximately every two weeks. Collector and determiner names are parsed and cleaned using the 
  %a{href: "https://github.com/dshorthouse/dwc_agent" } dwc_agent ruby gem 
  now available as a stand-alone utility. The similarity of people names is scored using a graph theory method outlined by 
  %a{href: "https://orcid.org/0000-0002-7101-9767"} R.D.M. Page 
  and incorporated as a method in the dwc_agent gem. These scores are used to help expand the search for users' candidate specimens, presented in order of greatest to least probable. If you declared alternate names in your ORCID account such as a maiden name, these are also used to search for candidate specimen records. Fully processing 100M specimen records is a scalable, repeatable process and requires approximately 2 hours on a laptop with 16GB of RAM.

%h3 Rationale

%p
  Despite the world-wide importance of natural history collections, most are at risk because they are critically underfunded or undervalued. A significant contributing factor for this apparent neglect is the lack of a professional reward system that quantifies and illustrates the breadth and depth of expertise required to collect and identify specimens, maintain them, digitize their labels, mobilize the data, and enhance these data as errors and omissions are identified by stakeholders. See thoughts by 
  %a{href: "https://doi.org/10.1525/bio.2011.61.8.8"}
    McDade
    %em et al.
    2011
  who describe what are the necessary elements for a professional reward system in museum science. If people throughout the full value-chain in natural history collections received professional credit for their efforts, ideally recognized by their administrators and funding bodies, they would prioritize traditionally unrewarded tasks and could convincingly self-advocate. Proper methods of attribution at both the individual and institutional level are essential.

%p
  The 
  %a{href: "https://www.gbif.org"} Global Biodiversity Information Facility 
  (GBIF) has prioritized a focus on people. The very first planned item in their 
  %a{href: "https://www.gbif.org/document/83029/gbif-implementation-plan-2017-2021-and-annual-work-programme-2017" }Implementation Plan for 2017-2021 
  and Annual Work Programme states, "1.a.i: Develop mechanisms to support and reflect the skills, expertise and experience of individual and organizational contributions to the GBIF network, including revision of identity management system and integration of ORCID identifiers".
  %a{href: "https://www.orcid.org"} ORCID 
  is the organization that is best positioned to capture and resolve the identity of people in academia and professional settings. However, a bottleneck that prevents the full execution of GBIF's plan is a legacy of intractable, text-based content shared from natural history museums that ambiguously record people or organizations implicated in specimen data, none of which include pre-determined links to ORCID identifiers. Typical content shared under the Darwin Core terms 
  %a{href: "http://rs.tdwg.org/dwc/terms/#recordedBy"} recordedBy 
  (collector) and 
  %a{href: "http://rs.tdwg.org/dwc/terms/#identifidBy"} identifiedBy 
  (determiners) is unstructured and variable. They may include variously ordered or unorderd people names, suffer from insensitivity to cultural preferences, additionally express full or abbreviated names of organizations, or other annotations that collectively make extraction of people names from these fields difficult. The full solution requires multiple approaches. A progressive approach would be to associate ORCID identifiers with specimens when these are digitized. Another, retrospective approach is to engage users by giving them the freedom to declare the actions they took on previously digitized specimens.