-content_for :title do
  For Collection Data Managers

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} For Collection Data Managers

%div{class: "container-fluid"}

  %h3 Background
  %p
    Bloodhound
    %a{href:"/trainers"} trainers
    attribute specimen records to the collectors and determiners represented in your dataset(s) by linking natural history specimen records to
    %a{href:"https://www.wikidata.org"} Wikidata
    Q numbers or
    %a{href:"https://orcid.org"} ORCID
    IDs. People with ORCID IDs also claim records for specimens they collected or identified. These unique identifiers have associated resources and services that are unquestionably useful for collections ranging from disambiguating people names to gauging the impact your collection has on the academic community.

  %div{class: "row"}
    %div{class: "col-12 col-md-6"}
      %h3 Engaing With Your Community

      %p
        Bloodhound trainers are a welcoming, international group of enthusists who are driven to help you attribute specimen records to the collectors and determiners represented in your dataset(s). They work tirelessly to enhance entries in
        %a{href:"https://www.wikidata.org"}
          Wikidata
        by adding links and attributes like birth and death dates to deceased natural historians. They are also strong advocates of
        %a{href:"https://orcid.org"} ORCID
        and can help you campaign for its adoption at your institution.
        The easiest way to seek help, guidance, or to appreciate the scope of their activities is to follow
        %a{href:"https://twitter.com/bloodhoundtrack"} @BloodhoundTrack
        on Twitter. Conversations there will lead you to many helpful connections. Come share your thanks and appreciation or just say hello.

      %p
        %img{src:"/images/roundtrip.png", alt: "Data round trip", class: "img-fluid"}

      %h3 Frictionless Data Packages

      %p
        Bloodhound refreshes a minimally referenceable subset of the data you publish to
        %a{href: "https://gbif.org"} GBIF
        every few weeks. See
        %a{href:"/how-it-works"} how it works
        for more details.

      %p
        Search for your
        %a{href:"/datasets"} dataset(s)
        and find the link to a
        %a{href:"https://frictionlessdata.io/"} Frictionless Data
        package. These zipped, UTF-8 encoded relational files are similar to the Darwin Core Archives you produced for GBIF. They differ in that they more efficiently represent
        %em many:many
        relationships. There is also a breadth of
        %a{href: "https://frictionlessdata.io/software/"}
          open software libraries
        in many programming languages that read, validate, and process Frictionless Data. You can also extract the zipped package and import the UTF-8 encoded csv files into any spreadsheet software, provided the files are not excessively large.
        The packages contain a standard
        %em datapackage.json
        metadata file and three csv files:
        %em users.csv, occurrences.csv,
        and
        %em attributions.csv.
        The
        %em datapackage.json
        metadata file contains a "created" timestamp for when the package was last produced. Regeneration of these packages typically occurs once every few weeks but if you would like a more up-to-date version, please
        = succeed "." do
          %a{href: "https://github.com/dshorthouse/bloodhound/issues"} create a ticket
        The
        %em users.csv
        file contains a list of unique users that were attributed or have claimed specimen records as their own in your dataset. It also contains their full names, aliases,
        %a{href:"https://orcid.org"} ORCID
        IDs or
        %a{href:"https://www.wikidata.org"} Wikidata
        Q numbers plus birth and death dates for the latter.
        The
        %em occurrences.csv
        file contains the subset of Darwin Core fields from your specimen records for which attributions have been made.
        Finally, the
        %em attributions.csv
        file is a join table for the other two csv files and also contains columns for who made the attribution, their ORCID ID, and a timestamp for when they made the attribution.

    %div{class:"col-12 col-md-6"}
      %a{class: "twitter-timeline", "data-width": 500, "data-height": 1000, href:"https://twitter.com/BloodhoundTrack?ref_src=twsrc%5Etfw"} Tweets by BloodhoundTrack
      %script{async: true, src:"https://platform.twitter.com/widgets.js", charset:"utf-8"}
