-content_for :title do
  Donor Wall

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} Donate

%ul{class: "nav nav-tabs pl-2"}
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_page] == "donate" ? " active" : nil}", href: "/donate"} Campaign
  %li{class: "nav-item"}
    %a{class: "nav-link#{locals[:active_page] == "wall" ? " active" : nil}", href: "/donate/wall"} Donor Wall

%p{class:"mt-3"}
  Thanks to the following donors who are supporting the completion of the data pipeline.

%div{class:"d-flex justify-content-center"}
  %div{class:"flex-fill"}
    %script{src:"https://donorbox.org/widget.js", paypalExpress:"false"}
    %iframe{src:"https://donorbox.org/embed/back-to-roots?only_donor_wall=true", frameborder:"0", name:"donorbox", scrolling:"no", seamless:"seamless", style:"width: 100%; max-width:500px; min-width:310px; max-height: none !important"}
