-content_for :title do
  Donate

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} Donate

%p Your one-time or periodic donation will help complete the data pipeline and ensure that credit is given for contributions made to natural history collections as quickly and as seamlessly as possible.

%div{class:"d-flex justify-content-center"}
  %div{class:"flex-fill mt-2 mr-3 ml-3"}
    %script{src:"https://donorbox.org/widget.js", paypalExpress: "false"}
    %iframe{src:"https://donorbox.org/embed/back-to-roots?show_content=true", height:"685px", width:"100%", style:"max-width:100%; min-width:100%; max-height:none!important", seamless:"seamless", name:"donorbox", frameborder:"0", scrolling:"no", allowpaymentrequest: true}