-content_for :title do
  Bloodhound

-content_for :jumbotron do
  %div{class: "jumbotron"}
    %div{class: "container-fluid"}
      %h1{class: "display-3"} Bloodhound
      %p.lead Claim the natural history specimens you collected or identified, receive credit, and be notified of taxonomic changes
      %p
        - if !authorized?
          %a{ href:"/auth/orcid", id: "connect-orcid-button", role: "button", class: "btn btn-outline-success" }
            %img{ alt: "ORCID logo", height:24, width:24, id:"orcid-id-logo", src:"/images/orcid_24x24.png"}
            Log in with your ORCID Account
        - else
          %a{ href:"/candidates", id: "candidates-button", role: "button", class: "btn btn-success" } Claim Your Specimens
      %p{class: "small text-sm-right"}
        %em
          Disclaimer: This is a proof-of-concept submission for the 
          %a{href: "https://www.gbif.org/news/1GQURfK5jS4Iq4O06Y0EK4/2018-gbif-ebbe-nielsen-challenge-seeks-open-data-innovations-for-biodiversity"} Ebbe Nielsen Challenge 
          and is subject to change.

- if !@results.empty?
  %h2{class: "text-center"} Sample Profiles
  
  - @results.find_in_batches(batch_size: 3).each do |batch|
    %div{class: "container"}
      %div{class: "row profile-examples"}
        - batch.each do |user|
          %div{class: "col-sm"}
            %div{class: "card"}
              %div{class: "card-body"}
                %a{href: "/#{user[:orcid]}"} #{user_label(user)}