-content_for :title do
  Bloodhound

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/agents");
    });

-content_for :jumbotron do
  %div{class: "jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class: "mr-auto p-2"}
      %h1{class: "display-3"} Bloodhound
      %p.lead Claim the natural history specimens you collected or identified

- if !@results.empty?
  %h2{class: "text-center"} Sample Profiles

  %div{class:"container"}
  - @results.in_groups_of(3).each do |group|
    %div{class: "row"}
      - group.each do |u|
        %div{class: "col-sm"}
          - if !u.nil?
            - cache_fragment(u.orcid) do
              = haml :'partials/user_card', layout: false, locals: { user: u }