-content_for :title do
  Bloodhound

-content_for :scripts do
  %script{src: "/js/application.js"}
  :javascript
    $(function() {
      Application.init("", "GET", "/agents");
    });

-content_for :jumbotron do
  %div{class: "jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class: "mr-auto p-2"}
      %h1{class: "display-3"} Bloodhound
      %p.lead Claim the natural history specimens you collected or identified and track their use in new science
      %p{id: "profile-buttons"}
        %a{href:"/get-started", role: "button", class:"btn btn-lg btn-outline-success"} Get started
        - if !authorized?
          %a{ href:"/auth/orcid", role: "button", class: "btn btn-lg btn-outline-success button-login connect-orcid-button" }
            %img{ alt: "ORCID logo", height:24, width:24, class:"orcid-id-logo", src:"/images/orcid_24x24.png"}
            Log in with ORCID
        - else
          %a{ href:"/profile/candidates", id: "candidates-button", role: "button", class: "btn btn-lg btn-outline-success" } Claim Your Specimens
          %a{ href:"/help-others", role: "button", class:"btn btn-lg btn-outline-success" } Help Others

- if !@results.empty?
  %h2{class: "text-center"} Sample Profiles

  %div{class:"container"}
  - @results.in_groups_of(3).each do |group|
    %div{class: "row"}
      - group.each do |u|
        %div{class: "col-sm"}
          - if !u.nil?
            - cache_fragment(u.identifier) do
              = haml :'partials/user_card', layout: false, locals: { user: u }