%div{class:"alert alert-warning", role: "alert"}= I18n.t('not_authorized.not_authorized')

%p
  %a{ href:"/auth/orcid", id: "connect-orcid-button", role: "button", class: "btn btn-outline-success" }
    %img{ alt: "#{I18n.t('home.orcid_logo')}", height:24, width:24, id:"orcid-id-logo", src:"/images/orcid_24x24.png"}= I18n.t('home.orcid_login')
