%div{class:"alert alert-warning", role: "alert"} Not authorized or session terminated.

%p
  %a{ href:"/auth/orcid", id: "connect-orcid-button", role: "button", class: "btn btn-outline-success" }
    %img{ alt: "ORCID logo", height:24, width:24, id:"orcid-id-logo", src:"/images/orcid_24x24.png"}
    Log in with your ORCID Account