!!! 5
%html{lang: "en", prefix: "og: http://ogp.me/ns#"}
  %head
    %meta{charset: "UTF-8" }/
    %meta{name:"description", content:"Claim the natural history specimens you collected or identified and track their use in new science"}/
    %meta{name:"keywords", content:"credit,specimens,natural,history,orcid,gbif"}/
    %meta{name:"author", content:"David P. Shorthouse"}/
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}/
    %meta{name:"twitter:card", content:"summary"}/
    %meta{name:"twitter:site" ,content:"@dpsSpiders"}/
    %meta{name:"twitter:description", content:"Claim the natural history specimens you collected or identified and track their use in new science"}/
    %meta{name:"twitter:creator", content:"@dpsSpiders"}/
    %meta{name:"twitter:image", content:"#{base_url}/images/screenshot.png"}/
    %meta{property:"og:title", content:"#{yield_content(:title)}"}/
    %meta{property:"og:description", content:"Claim the natural history specimens you collected or identified and track their use in new science"}/
    %meta{property:"og:locale", content:"en_US"}/
    %meta{property:"og:type", content:"website"}/
    %meta{property:"og:url", content:"#{base_url}"}/
    %meta{property:"og:image", content:"#{base_url}/images/screenshot.png"}/

    %title Bloodhound - Offline

    %link{href: "/favicon.ico", rel:"shortcut icon", type:"image/x-icon"}
    %link{href: "/favicon.ico", rel:"icon", type:"image/x-icon"}
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet", type: "text/css", crossorigin: "anonymous"}
    %link{href: "/css/application.css", rel: "stylesheet", type: "text/css"}

  %body
    %nav{class:"navbar navbar-expand-md navbar-dark bg-dark"}
      %a{class:"navbar-brand", href:"/"}
        %img{src: "/images/logo.png", height:48, alt: "Bloodhound"}

    %div{class: "jumbotron jumbotron-fluid d-flex flex-wrap"}
      %div{class: "mr-auto p-2"}
        %h1{class: "display-3"} Bloodhound
        %p.lead Claim the natural history specimens you collected or identified and track their use in new science

    %main{id:"main"}
      %div{class: "container-fluid"}
        %div{class: "alert alert-warning row", role:"alert", style:"margin-left:0.1em;margin-right:0.1em"}
          Bloodhound is currently offline, following the scent of new data.