-content_for :title do
  Bloodhound: Profiles

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid"}
    %div{class: "container-fluid"}
      %h2 Public Profiles

%div{class:"container-fluid"}
  - @results.in_groups_of(3).each do |group|
    %div{class: "row"}
      - group.each do |u|
        %div{class: "col-sm"}
          - if !u.nil?
            - cache_fragment(u.orcid) do
              = haml :'partials/user_card', layout: false, locals: { user: u }

  = will_paginate @results, { class: "pagination" }