-content_for :title do
  Bloodhound: Profiles

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h2 Public Profiles
      %p.lead.text-muted
        Authenticated users who share their profiles and deceased natural historians others have helped to acknowledge

%div{class:"container-fluid"}
  - @results.in_groups_of(3).each do |group|
    %div{class: "row"}
      - group.each do |u|
        %div{class: "col-sm"}
          - if !u.nil?
            - cache_fragment(u.identifier) do
              = haml :'partials/user_card', layout: false, locals: { user: u }

  = pagy_bootstrap_nav(@pagy) if @pagy.pages > 1