label input {
  margin-right:0.5em;
}

#form-wrapper {
  margin-bottom:1.75em;
}

#form-wrapper .search-agent{
  vertical-align:middle;
}

.twitter-typeahead {
  line-height:2.75em;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 22rem;
  height: 30px;
  padding: 1.2rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 22rem;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  z-index:10000 !important;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.tt-menu-header {
  margin: 0 10px 5px 10px;
  padding: 3px 0;
  border-bottom: 1px solid #a8a7a5;
  font-size:1em;
}

.title-col{
  margin-left:0px;
  padding-left:0px;
}
.btn-choice{
  padding:0.2rem 0.5rem;
}

.btn-light{
  color:#D3633C;
  background-color:#fff;
  border: 1px solid #dee2e6;
  border-radius:0px !important;
  font-size:1rem !important;
}
.btn-claim{
  margin:0.25rem;
}
.dropdown-menu{
  border-radius:0px !important;
  font-size:1rem !important;
}

@media only screen and (min-width: 450px) {
  .search-agent {
    float:right !important;
  }
}