%div{class:"jumbotron jumbotron-fluid"}
  %div{class:"container-fluid"}
    %h1{class:"text-center h2 font-italic"}= @agent.fullname
    %p.lead.text-muted.text-center
      A raw string from parsed collector and determiner names in natural history specimen data
