-content_for :title do
  Countries

-content_for :jumbotron do
  %div{class:"jumbotron jumbotron-fluid d-flex flex-wrap"}
    %div{class:"mr-auto p-2"}
      %h1{class:"h2"} Countries
      %p.lead.text-muted
        From countries stated in
        %a{href:"https://orcid.org"} ORCID
        or
        %a{href: "https://www.wikidata.org"} Wikidata
        accounts

- @countries.each do |k,group|
  %h3 #{k}
  %ul{class:"list-inline"}
    - group.each do |country|
      %li{class:"list-inline-item"}
        %a{href: "/country/#{country[1]}", class:"btn btn-outline-dark btn-sm mb-2"} #{country[0]}