adapter: mysql2
host: localhost
username: root
password:
database: bloodhound
reconnect: true
pool: 40
timeout: 5000
base_url: ''
google_analytics: ''
disqus_shortname: ''
neo4j:
  url: 'localhost:7474'
orcid:
  api_url: 'https://pub.orcid.org/v3.0/'
  key: ''
  secret: ''
  site: 'https://orcid.org'
  authorize_url: 'https://orcid.org/oauth/authorize'
  token_url: 'https://pub.orcid.org/oauth/token'
  keywords: ['taxonomy','taxonomist','entomology','zoology','botany']
zenodo:
  sandbox: true
  api_url: 'https://sandbox.zenodo.org/api/'
  key: ''
  secret: ''
  site: 'https://sandbox.zenodo.org'
  authorize_url: 'https://sandbox.zenodo.org/oauth/authorize'
  token_url: 'https://sandbox.zenodo.org/oauth/token'
elastic:
  server: 'http://localhost:9200'
  agent_index: 'bloodhound_agents'
  user_index: 'bloodhound_users'
  organization_index: 'bloodhound_organizations'
gmail:
  domain: ''
  email: '____@gmail.com'
  username: ''
  password: ''
twitter:
  consumer_key: ''
  consumer_secret: ''
  access_token: '-'
  access_token_secret: ''
gbif:
  download_count:
  download_doi: